.img-card{
    height:200px;
    width: auto;
}

.card-category{
display: grid;
grid-template-columns:repeat(3, 1fr);

}

.secend-div{
    background-image: url('https://i.ibb.co/mt8zxLq/pngwing-com-2.png');
    background-color: #ECECF1;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top 50px */
}