.item  {
    text-decoration: none;
    padding-left: 13px;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Montserrat', sans-serif;

}

.a#navbarScrollingDropdown {
    text-decoration: none;
    padding-left: 13px;
    color: black;
    font-size: larger;
}

span.color-red.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
}

.btnHome {    text-align: center;
}






.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: baseline;
}