@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&family=Noto+Sans&family=Poppins&family=Raleway:ital,wght@1,300&family=Rubik+Dirt&family=Rubik+Iso&family=Teko&display=swap');

body {
  margin: 0;
  font-family: 'Acme', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Teko', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
